@import "normalize.scss";
@import "fonts.scss";

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  background-color: #f0f2f5;
  color: rgba(0, 0, 0, 0.85);
}
